<div id="errors_div">
  <flash-message type="error"/>
  <%=  error_messages_for :brew_entry, :recipe, :inv_item, :message => nil, :header_message => "Error" %>
  <%# =  error_messages_for :recipe, :message => nil, :header_message => "Error" %>
  <%# =  error_messages_for :fermentable_inventory_log_entr, :message => nil, :header_message => "Error" %>
  <%# =  error_messages_for :hop_inventory_log_entry, :message => nil, :header_message => "Error" %>
  <%# =  error_messages_for :yeast_inventory_log_entry, :message => nil, :header_message => "Error" %>
  <%# =  error_messages_for :kit_inventory_log_entry, :message => nil, :header_message => "Error" %>
</div>
